.page {
    background-color: black;
    color: white;
}

.page__section{
    max-width: 880px;
    width: 100%;
    position: relative;
    margin: 0 auto;
}

.page__content {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page__header {
    margin-top: 45px;
    min-width: 320px;
    height: 74px;
    border-bottom-color: #545454;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.page__header_image {
    width: 173px;
    height: 33px;
}

@media screen and (max-width: 620px) {
    
    .page__content {
        padding: 0 20px;
    }
    
    .page__header {
        margin-top: 28px;
        height: 56px;
        width: 100%;
    }
}